*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 10px;
  font-family: sans-serif;
}
section{
  text-align: center;
}
img{
  max-width: 100%;
}
header{
  width: 100%;
  padding: 11px ;
  background-color: black;
}
header .container{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
header .container ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container ul li{
  list-style: none;
}
header .container ul li img{
  width: 18px;
  opacity: 0.8;
}
header .container ul li img:hover{
  opacity: 0.9;
}
header .container ul li a{
  text-decoration: none;
  color: rgb(190, 189, 189);
  font-size: 150%;
  font-weight: 500;
}
header .container ul li a:hover{
  color: rgb(239, 239, 239);
}
header .container ul li a:active{
  text-decoration: underline;
}
/* MacBook Pro section */
#macbook-pro-section{
  padding-top: 5px;
  margin-bottom: 30px;
  margin-bottom: 0px;
}
#macbook-pro-section .texts{
  margin: 20px auto 30px auto;
}
#macbook-pro-section .texts .inch{
  font-size: 1.6rem;
}
.texts .name{
  font-size: 6rem;
  font-weight: bolder;
}
#macbook-pro-section .texts .promotion {
  font-size: 4rem;
  margin-bottom: 20px;
}
#macbook-pro-section img{
  width: 50%;
}
.texts .links ul li{
   display: inline;
   list-style: none;
}
.texts .links ul li:last-child{
     margin-left: 3%;
}
.links ul li a{
  text-decoration: none;
  font-size: 2rem;
  color: rgb(20, 78, 177);
}
section .links ul li a::after{
  font-family: "FontAwesome";
  font-weight: 900;
  content : "\f105";
  padding-left: 8px;
}
#macbook-pro-section .texts .links ul li a:hover{
  color: black;
}
/* iphone  11 pro */
#iphone-11-pro-section{
  background-image: url("../images/home/iphone11-pro-bg.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 50px;
  height: 640px;
  padding: 60px  20px;
  margin-bottom: 50px;
  /* width: 100%; */
}
.texts .phone-advert{
  margin-top: 1rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.texts .phone-price{
  font-size: 1.6rem;
  color: grey;
  margin-bottom: 2rem;
}
/* iphone 11 section */
#iphone-11-section{
  background-image: url("../images/home/iphone11-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding: 20px;
}

/* grid section */
.grid-section{
  display: grid;
  grid-template-areas: 
    "watch card";
  grid-template-columns: 1fr 1fr;
  /* column-gap: 3rem; */
}
/* grid card */
.grid-card{
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  height: 600px;
  margin-block: 2rem;
}
.grid-card .description{
  margin: 20px;
}
.grid-card .description p{
  font-size: 1.8rem;
  font-weight: lighter;
}
.grid-card .links{
  display: inline-block;
}
.grid-card .links ul{
  display: flex;
  text-align: center;
}
.grid-card .links li{
  list-style: none;
}
.grid-card .links li:last-child{
  margin-left: 3rem;
}
/* watch-card */
.watch-card{
    background-image: url("../images/home/watch-series-5.jpg");
    grid-area: watch;
    margin-inline: 2rem;
}
/*card-card*/
.card-card{
  background-image: url("../images/home/apple-card.jpg");
  margin-right: 2rem;
}
/* tv-card */
.tv-card{
  background-image: url("../images/home/apple-tv-background.jpg");
  margin-inline: 2rem;
}
.tv-card .text-container{
 height: 80%;
 place-content: center;
}
.tv-card .text-container .description p:last-child{
  margin-top: 1%;
  font-size:42px;
  /* font-weight: bold; */
  font-family: serif;
}
.tv-card .text-container .links{
 position: relative;
 bottom: 0;
 margin-top:  20px;
}
.airpod-card{
  background-image: url("../images/home/air-pods.jpg");
  margin-right: 2rem;
}
.airpod-card .logo{
  font-size: 4rem;
  font-weight: bold;
  color: white;
}
.airpod-card .description{
  color: white;
}
/* mac-pro-card */
.macbook-pro-card{
  background-color: white;
  margin-inline: 2rem;
}
/* ipad-card */
.ipad-card{
  background-color: rgb(243, 243, 243);
}
.ipad-card .image-container img{
  width: 150%;
}
/* footer */

.footer-container{
  background-color: rgb(249, 249, 249);
}
footer{
  width: 80%;
  margin:auto;
  text-align: left;
}
footer div{
    /* width: 80%; */
    margin: 10px auto 10px auto;
}
footer .long-text{
  font-size: 1.4rem;
  color: rgb(100, 99, 99);
}
footer hr{
  margin: 20px;
}
footer .links{
  display: flex;
}
footer .links .category{
  margin-bottom: 2rem;
}
footer .links .category p{
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}
footer .links .category ul li{
  list-style: none;
  margin-bottom: 0.8rem;
}
footer .links .category ul li a{
  color: grey;
  font-size: 1.2rem;
}
footer .links .category ul li a:hover{
  text-decoration: underline;
}
/* links */
footer .more, footer .more a{
  font-size: 1.4rem;
}
footer .last{
  display: flex;
  width: 100%;
}
footer .last div:nth-of-type(1){
  font-size: 1.4rem;
}
footer .last div:nth-of-type(2) ul{
  display:flex;
}
footer .last div:nth-of-type(2) ul li{
  list-style: none;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
  border-right:1px solid gray;
}
footer .last div:nth-of-type(2) a{
  color: gray;
  font-size: 1.2rem;
  text-decoration: none;
}
footer .last div:nth-of-type(2) a:hover{
  text-decoration: underline;
}
footer .last div:nth-of-type(3){
  display: flex;
  align-items: center;
  margin-top: 0;
}
.flag-container{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: url('../images/icons/Flag_of_the_United_States.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .last div:nth-of-type(3) img{
  width: 100%;
}


@media only screen and (max-width: 600px){

  *{
    font-size: 6px;
  }
  header .container ul li img{
   width: 16px;
  }
  .grid-section{
    display: block;
  }
  .card{
    display: block;
  }
}
@media only screen and (max-width: 400px){
  header .container {
    width: 90%;
  }
}
