*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 10px;
  font-family: sans-serif;
}
section{
  text-align: center;
}
img{
  max-width: 100%;
}
header{
  width: 100%;
  padding: 11px ;
  background-color: black;
}
header .container{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
header .container ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container ul li{
  list-style: none;
}
header .container ul li img{
  width: 18px;
  opacity: 0.8;
}
header .container ul li a{
  text-decoration: none;
  color: rgb(202, 202, 202);
  font-size: 150%;
  font-weight: 500;
}
/* MacBook Pro section */
#macbook-pro-section{
  padding-top: 5px;
  margin-bottom: 30px;
  margin-bottom: 0px;
}
#macbook-pro-section .texts{
  margin: 20px auto 30px auto;
}
#macbook-pro-section .texts .inch{
  font-size: 1.6rem;
}
.texts .name{
  font-size: 6rem;
  font-weight: bolder;
}
#macbook-pro-section .texts .promotion {
  font-size: 4rem;
  margin-bottom: 20px;
}
#macbook-pro-section img{
  width: 50%;
}
.texts .links ul li{
   display: inline;
   margin-left: 3%;
   list-style: none;
}
.links ul li a{
  text-decoration: none;
  font-size: 2rem;
  color: rgb(20, 78, 177);
}
#macbook-pro-section .texts .links ul li a:hover{
  color: black;
}
/* iphone  11 pro */
#iphone-11-pro-section{
  background-image: url("../images/home/iphone11-pro-bg.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 50px;
  height: 600px;
  padding: 60px  20px;
  margin-bottom: 50px;
  /* width: 100%; */
}
.texts .phone-advert{
  margin-top: 1rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.texts .phone-price{
  font-size: 1.6rem;
  color: grey;
  margin-bottom: 2rem;
}
/* iphone 11 section */
#iphone-11-section{
  background-image: url("../images/home/iphone11-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding: 20px;
  margin-bottom: 50px;
}

/* grid section */
.grid-section{
  display: grid;
  grid-template-areas: 
   "watch card";
}
.grid-card{
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  height: 600px;
}
.grid-card .description{
  margin: 20px;
}
.grid-card .description p{
  font-size: 1.8rem;
  font-weight: lighter;
}
.grid-section .watch{
    background-image: url("../images/home/watch-series-5.jpg");
    grid-area: watch;
}
.grid-section card{
  background-image: url("../images/home/apple-card.jpg");
}



@media only screen and (max-width: 600px){

  *{
    font-size: 6px;
  }
  header .container ul li img{
   width: 16px;
  }
}
@media only screen and (max-width: 400px){
  header .container {
    width: 90%;
  }
}
