*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;

}
section{
  text-align: center;
}
img{
  max-width: 100%;
}
.bg-img{
  max-width: 100%;
}
header{
  width: 100%;
  padding: 11px ;
  background-color: black;
}
header .container{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
header .container ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-bar{
  display: none;
}
header .container ul li{
  list-style: none;
}
header .container ul li img{
  width: 18px;
  opacity: 0.8;
}
header .container ul li img:hover{
  opacity: 0.9;
}
header .container ul li a{
  text-decoration: none;
  color: rgb(190, 189, 189);
  font-size: 150%;
  font-weight: 500;
}
header .container ul li a:hover{
  color: rgb(239, 239, 239);
  transition: ease-in-out 0.3s;
}
header .container ul li a:active{
  text-decoration: underline;
}
/* MacBook Pro section */
#macbook-pro-section{
  padding-top: 0.5rem;
  background-color: #fafafa;
}
#macbook-pro-section .texts{
  margin: 2rem auto 3rem auto;
}
#macbook-pro-section .texts .inch{
  font-size: 1.6rem;
}
.texts .name{
  font-size: 6rem;
  font-weight: bolder;
}
#macbook-pro-section .texts .promotion {
  font-size: 4rem;
  margin-bottom: 2rem;
}
#macbook-pro-section img{
  width: 50%;
}
.texts .links ul li{
   display: inline;
   list-style: none;
}
.texts .links ul li:last-child{
     margin-left: 3%;
}
.links ul li a{
  text-decoration: none;
  font-size: 2rem;
  color: rgb(20, 78, 177);
}
section .links ul li a::after{
  font-family: "FontAwesome";
  font-weight: 900;
  content : "\f105";
  padding-left: 8px;
}
#macbook-pro-section .texts .links ul li a:hover{
  color: black;
}
/* iphone  11 pro */
#iphone-11-pro-section{
  background-image: url("../images/home/iphone11-pro-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 60rem;
  padding: 6rem  2rem;
}
.texts .phone-advert{
  margin-top: 1rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.texts .phone-price{
  font-size: 1.6rem;
  color: grey;
  margin-bottom: 2rem;
}
/* iphone 11 section */
#iphone-11-section{
  background-image: url("../images/home/iphone11-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60rem;
  padding: 6rem 2rem;
  width: 100%;
}

/* grid section */
.grid-section{
  display: grid;
  grid-template-areas: 
    "watch card";
  grid-template-columns: 1fr 1fr;
  column-gap: 0.25rem;
}
/* grid card */
.grid-card{
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  padding-top: 20px;
  height: 600px;
  margin-block: 1rem;
  word-spacing: 0.25rem;
}
.grid-card .description{
  margin: 15px;
}
.grid-card .description p{
  font-size: 2rem;
  color: rgb(65, 65, 65);
}
.grid-card .links{
  display: block;
  text-align: center;
  margin-top: 30px;
}
.grid-card .links ul{
  display: flex;
  place-content: center;
}
.grid-card .links li{
  list-style: none;
}
.grid-card .links li:last-child{
  margin-left: 3rem;
}
/* watch-card */
.watch-card{
    background-image: url("../images/home/watch-series-5.jpg");
    grid-area: watch;
    margin-inline: 2rem;
}
/*card-card*/
.card-card{
  background-image: url("../images/home/apple-card.jpg");
  margin-right: 2rem;
}
/* tv-card */
.tv-card{
  background-image: url("../images/home/apple-tv-background.jpg");
  margin-inline: 2rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tv-card .watch-more a{
  text-decoration: none;
  font-size: 1.4rem;
  margin-top: 5rem;
}
.tv-card .watch-more a::after{
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}
.airpod-card{
  background-image: url("../images/home/air-pods.jpg");
  background-size: initial;
  background-position: bottom;
  background-color: #000;
  margin-right: 2rem;
}
.airpod-card .logo{
  font-size: 4rem;
  font-weight: bold;
  color: white;
}
.airpod-card .description p{
color: rgb(232, 219, 197);
}
/* mac-pro-card */
.macbook-pro-card{
  background-image: url("../images/home/macbook-pro.jpg");
  background-color: #fafafa;
  background-size: initial;
  background-position: bottom;
  margin-inline: 2rem;
}
.macbook-pro-card .name{
  font-size: 5rem;
  font-family: sans-serif;
}
/* ipad-card */
.ipad-card{
  /* background-color: rgb(243, 243, 243); */
  background-image: url("../images/home/new-ipad.jpg");
  background-size: cover;
  margin-right: 2rem;

}
.ipad-card .image-container img{
  width: 150%;
}
/* footer */

.footer-container{
  background-color: rgb(249, 249, 249);
}
footer{
  width: 80%;
  margin:auto;
  text-align: left;
}
footer div{
    /* width: 80%; */
    margin: 0px auto 10px auto;
}
footer .long-text{
  font-size: 1.4rem;
  color: rgb(100, 99, 99);
}
footer hr{
  margin: 20px;
}
footer .links{
  display: flex;
}
footer .links .category{
  margin-bottom: 2rem;
}
footer .links .category p{
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}
footer .links .category ul li{
  list-style: none;
  margin-bottom: 0.8rem;
}
footer .links .category ul li a{
  color: grey;
  font-size: 1.2rem;
}
footer .links .category ul li a:hover{
  text-decoration: underline;
}
/* links */
footer .more, footer .more a{
  font-size: 1.4rem;
}
footer .last{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer .last div:nth-of-type(1){
  font-size: 1.4rem;
}
footer .last div:nth-of-type(2) ul{
  display:flex;
}
footer .last div:nth-of-type(2) ul li{
  list-style: none;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
  border-right:0.1rem solid gray;
}
footer .last div:nth-of-type(2) a{
  color: gray;
  font-size: 1.2rem;
  text-decoration: none;
}
footer .last div:nth-of-type(2) a:hover{
  text-decoration: underline;
}
footer .last div:nth-of-type(3){
   display: flex;
   vertical-align: middle;
}
footer .last div:nth-of-type(3) .flag-container{
  display: inline;
}
footer .last div:nth-of-type(3) p{
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
@media only screen and (max-width: 1000px){
  .iphone-11-section{
    width: 100%;
  }
}


@media only screen and (max-width: 800px){

  *{
    font-size: 6px;
  }
  header .container ul li img{
   width: 16px;
  }
  .grid-section{
    display: block;
  }
  .card {
    display: block;
    margin: 5rem;
  }
  .card-card, .airpod-card, .ipad-card, .watch-card, .tv-card, .macbook-pro-card{
    margin: 4rem;
  }
}
@media only screen and (max-width: 450px){
  *{
    font-size: 4px;
  }
  header .container {
    width: 90%;
  }
  .text-link{
    display:none;
  }
  footer .links .container .category ul li{
  display: none;
}
footer .links .category ul li{
    display: none;
}
footer .links{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu-bar{
  display: block;
}
i{
  font-size: 3rem;
  font-weight: bold;
}
footer .long-text{
  font-size: 2rem;
}
footer .links .category p{
  font-size: 2rem;
}
.links{
  font-size: 2rem;
}
}
/* footer .links .categroy P::after{
} */